@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F2F2F0;
  --foreground: #111111;
}

body {
  background: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
}

/* 1. Hapus scrollbar tapi tetap bisa scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* 2. Setup 3D untuk Tech Card */
.perspective-1000 {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

/* 3. Efek Layar Digital (Scanline) */
.bg-scanline::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom,
      transparent 50%,
      rgba(0, 0, 0, 0.3) 51%);
  background-size: 100% 4px;
  pointer-events: none;
  z-index: 10;
  opacity: 0.3;
  mix-blend-mode: overlay;
}

/* 4. Efek Grid Kertas Teknik */
.bg-grid-pattern {
  background-image: radial-gradient(#111 1px, transparent 1px);
  background-size: 20px 20px;
  opacity: 0.05;
}