@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F2F2F0;
  --foreground: #111111;
}

body {
  background: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
}

/* --- 3D UTILITIES --- */
.perspective-1000 {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

/* Hide Scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* --- CUSTOM TEXTURES & EFFECTS --- */

/* 1. Dot Pattern untuk Tech Card */
.bg-grid-pattern {
  background-image: radial-gradient(#111 1px, transparent 1px);
  background-size: 20px 20px;
  opacity: 0.05;
}

/* 2. Digital Scanline untuk Foto (Efek Layar) */
.bg-scanline::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom,
      transparent 50%,
      rgba(0, 0, 0, 0.3) 51%);
  background-size: 100% 4px;
  pointer-events: none;
  z-index: 10;
  opacity: 0.3;
  mix-blend-mode: overlay;
}

/* 3. Bloom Transition (Animasi Lambat-Cepat) */
.transition-bloom {
  transition-property: all;
  transition-duration: 1000ms;
  /* Cubic Bezier: Lambat di awal, 'snappy' di akhir */
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.group:hover .transition-bloom,
.group:active .transition-bloom {
  transition-duration: 600ms;
}